<h3>
    Template Driven Forms
</h3>

<form #f="ngForm" (ngSubmit)="formSubmit(f)">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" ngModel>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" ngModel>
    <input type="submit">
</form>

<ul>
    <li>put name attribute on feilds</li>
    <li>use ngModel as attribute</li>
    <li>use ngSubmit event of angular on form tag</li>
    <li>to watch the feild (form object) , use local reference on form , set it equal to ngForm, and pass that local reference as paramater to onSubmit</li>
</ul>

<hr>
<hr>

<p>using @VeiwChild+ local reference to access form data ; instead of ngSubmit+local reference event </p>
<form #f2="ngForm" (ngSubmit)="formSubmit2()">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" ngModel>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" ngModel>
    <input type="submit">
</form>

<ul>
    <li>Helpful when you want to assess the form not just when you submit it. But also earlier</li>
    <li>put name attribute on feilds</li>
    <li>use ngModel as attribute</li>
    <li>use ngSubmit event of angular on form tag</li>
    <li>to watch the feild (form object) , use local reference on form , set it equal to ngForm, and in typscript file, use VeiwChild to access the object locally referenced.
</ul>

<hr>
<hr>

<p>Validation in form</p>

<form #f3="ngForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" ngModel required>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" ngModel required email>
    <input type="submit" [disabled]="f3.invalid">
</form>

<ul>
    <li>code for Validation in Template Driven approach has to be written inside template itself </li>
    <li>we can use local referenced variable initialized to the ngForm , which give the form ob1ject & bind to disabled attribute the 'invalid' property of form-object to conditionally disable or enable the submit button</li>
    <li>Validator that can be used in template driven approah are :<br> required, email, maxlength="25" & minlength,max (can be used in case of input type number) & min,pattern="[a-zA-Z ]*"</li>
</ul>

<hr>
<hr>

<p>Accessing individual form control to output Validation errors in Template driven forms</p>

<form #f3="ngForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" ngModel required>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" ngModel required email #tdMail="ngModel">
    <h5 *ngIf="tdMail.invalid &&  tdMail.dirty" class="error">Please enter valid Email</h5>
    <input type="submit" [disabled]="f3.invalid">
</form>

<ul>
    <li>Prerequisite : having ngModel as attribute on the control to be assessed </li>
    <li>step1: create a local reference and assign it ngModel . Thats it.</li>
    <li>Use this local reference to take full power of validation for this control</li>
</ul>

<hr>
<hr>

<p>ngModel and forms have a good relation to be talked about</p>
<ul>
    <li>We spoke about how we can use it as attribute (without any bindings) to set up controls for our form</li>
    <li>We also spoke about how we can gain access individually to a form control, using ngModel assigned as value to to local reference upon that control </li>
    <li>Now we'll look as how we can use ngModel with Bindings:</li>
    <p>One Way ngModel data binding , as well as 2 way</p>
</ul>
<p>One Way </p>
<li>When to use? when setting default values to form feilds i.e. controls</li>

<form #f4="ngForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [ngModel]="'Jeff'" required>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [ngModel]="'jeff@amazon.com'" required email>
    <input type="submit" [disabled]="f4.invalid">
</form>

<ul>
    <li>remember we set up ngModel as attribute on form feilds, to help it become a control of form.</li>
    <li>we use that ngModel itself , do a property binding, and assign a value that appears as default value for the control</li>
</ul>

<p>One Way </p>
<li>When to use? when setting default values to form feilds i.e. controls</li>

<hr>

<p>One Way </p>
<li>When to use?Some times we want to react as soon as user types , maybe simply printing the same thing...</li>

<form #f5="ngForm">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" ngModel required>
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="defaultMail" required email #tdMail2="ngModel">
    <br><small *ngIf="tdMail2.dirty" class="helpText">you entered: {{defaultMail}}</small><br>

    <input type="submit" [disabled]="f5.invalid">
</form>

<ul>
    <li>use the same ngModel you used for one waydata binding, to now do two way data binding </li>
</ul>