header {
    background-color: rgb(77, 77, 252);
    width: 100%;
    margin: 0;
    padding-left: 2%;
    color: rgba(44, 44, 44);
}

.main_layout {
    display: flex;
}

app-navigation {
    flex: 0 1 40%;
    height: 100vh;
    background-color: burlywood;
}